<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Cadastrar</h1>
    <form method="POST" action="{{url_for('cadastrar_veiculos')}}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.nome.label }}<br>
            {{ form.nome(size=32) }}<br>
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>