{% extends 'base.html' %}

{% block title %}Alunos{% endblock %}

{% block nav %}
<a href="{{url_for('index')}}">Início</a>
<a href="{{url_for('cadastrar')}}">Cadastrar</a>
{% endblock %}

{% block conteudo %}
<h1>Alunos Cadastrados nesta escola:</h1>

<ul>
    <!--É como um for que exibe coisas de uma lista-->
    {% for aluno in alunos %}

    <li>
        Nome: {{aluno['alu_nome']}}
        <!--Aqui irei exibir o nome do aluno-->
    </li>
    <li>
        E-mail: {{aluno['alu_email']}}
         <!--Aqui irei exibir o email do aluno-->
    </li>
    <li>
        Telefone: {{aluno['alu_telefone']}}
        <form action="{{url_for('deletar', alu_id = aluno['alu_id'])}}" method="post">
            <input type="submit" value="Cancelar Matrícula">
        </form>
        <form action="{{url_for('edit', alu_id = aluno['alu_id'])}}" method="post">
            <input type="submit" value="Editar">
        </form>  <!--Aqui irei exibir o telefone do aluno-->
    </li>

    {% endfor %}
</ul>
{% endblock %}